<div class="row no-gutters aboutMe">
  <div class="col-md-6">
    <img src="assets/images/rope.png" />
  </div>
  <div class="col-md-6">
    <div class="aboutMe-right">
      <div class="aboutMe-title containerMargin-right containerMargin-left">
        O Mnie
      </div>
      <div class="aboutMe-subTitle containerMargin-right containerMargin-left">
        Jestem sportowcem CrossFit Games, starającym się być najsprawniejszym na świecie. 
		Trenuje około 6 godzin dziennie, 5 dni w tygodniu przez ostatnie 10 lat, koncentrując się na wszystkim, od podnoszenia ciężarów, przez gimnastykę po bieganie.
      </div>
      <div class="aboutMe-content containerMargin-right containerMargin-left">
        Kiedyś byłem tylko chudym, małym chłopcem z wadą serca który nie miał ścieżki. 
		Wpadłem w sport i styl życia, które kocham i chcę podzielić się z wami częścią tej pozytywności podczas tej podróży.
      </div>
      <div class="aboutMe-awards containerMargin-right containerMargin-left">
        <div class="row no-gutters">
          <div class="col-md-6 alignItems-center flexDirection-column">
            <img class="awardLight" src="assets/images/award-light.png" />
            <div class="aboutMe-awards-text">
              1 MIEJSCE CROSSFIT OPEN POLAND 2020
            </div>
          </div>
          <div class="col-md-6 alignItems-center flexDirection-column">
            <img class="awardLight" src="assets/images/award-light.png" />
            <div class="aboutMe-awards-text">CROSSFIT REGIONALS</div>
          </div>
        </div>
      </div>
      <div class="aboutMe-sponsors">
        <div>Sponsorzy</div>
        <div class="justifyContent-spaceBetween">
          <img class="aboutMe-sponsor" src="assets/images/logo/vitmeup.png" />
          <!-- <img class="aboutMe-sponsor" src="assets/images/rogue.png" />
          <img class="aboutMe-sponsor" src="assets/images/rogue.png" />-->
        </div> 
      </div>
    </div>
  </div>
</div>
