<div class="imageDescription">
  <div class="row no-gutters">
    <div class="col-md-4">
      <img src="assets/images/peter_1.png" />
    </div>
    <div
      class="col-md-8 flexDirection-column alignItems-center justifyContent-center"
    >
      <div class="imageDescription-title">
        The only way is through
      </div>
      <div class="imageDescription-subTitle">
        CROSSFIT MOTIVATIONAL VIDEO
      </div>
      <div class="imageDescription-content">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe
            class="embed-responsive-item"
            src="https://www.youtube.com/embed/NjtKzipsEc4"
            frameborder="0"
            allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
