<div class="dontArgue containerPadding-right containerPadding-left">
  <div class="row no-gutters">
    <div class="col-md-6">
      <div class="dontArgue-left flexDirection-column alignItems-center justifyContent-center">
        <div class="dontArgue-title textAlign-center">
          DON'T ARGUE
        </div>
        <div class="dontArgue-content textAlign-center">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiumdod
          tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
          veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
          commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
          velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
          occaecat cupidatat non proident, sunt in culpa qui officia deserunt
          mollit anim id est laborum
        </div>
        <button class="dontArgue-action">
          BUTTON
        </button>
      </div>

    </div>
    <div class="col-md-6">
      <img src="assets/images/tshirt.png" />
    </div>
  </div>
</div>
