<div class="row no-gutters countdown">
  <div class="col-md-5 alignItems-center">
    <img class="countdown-logo" src="assets/images/logo/logo_white.png" />
	<img class="countdown-logo" src="assets/images/logo/logo_games.png" />
  </div>
  <div class="col-md-5 countdown-counter">
    <div class="countdown-daysToGames">{{ daysToGames }} : DAYS</div>
    <div class="countdown-text">ROAD TO OPEN COUNTDOWN</div>
  </div>
  <!--<div class="col-md-5">
    <div class="alignItems-center countdown-action">
      DON'T ARGUE!
    </div>
  </div>-->
</div>
