<div class="contact">
  <div class="row no-gutters fullHeight">
    <div class="col-md-6 alignItems-center justifyContent-center">
      <div class="contact-me">
        CONTACT ME
      </div>
    </div>
    <div class="col-md-6">
      <div class="justifyContent-center">
        <img
          class="contact-logo"
          src="assets/images/logo/RGBPeter_logo_biale_poziom.svg"
        />
      </div>
      <div class="fullHeight alignItems-center justifyContent-center">
        <div class="contact-contacts">
          <div class="row no-gutters">
            <div class="col-6 contact-contacts-names flexDirection-column">
              <div>
                Peter Szczycinski
              </div>
              <div>
                Manager
              </div>
              <div>
                PR
              </div>
            </div>

            <div class="col-6 flexDirection-column">
              <div>
                szczycinski@gmail.com
              </div>
              <div>
                szczycinski@gmail.com
              </div>
              <div>
                szczycinski@gmail.com
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
