<div class="dontArgueChallange">
	<div class="dontArgueChallange-title">
        DO NOT ARGUE DO YOUR PROGRESS
    </div>
  <div class="row mx-0">
	<div class="col-md-8 dontArgueChallange-left containerPadding-left containerPadding-right">    
	
		<div class="dontArgueChalange-challange-title">
               Każdy z planów treningowych DO NOT ARGUE składa się z poszczególnych części:
        </div>
		<ul>
		  <li>aktywacji danej grupy mięśniowej</li>
		  <li>rozgrzewki ruchowej pod trening dnia</li>
		  <li>sekcji siłowej jak i gimnastycznej</li>
		  <li>a także ćwiczeń wzmacniających</li>
		</ul>
		<div class="dontArgueChalange-challange-title">
            do planu dołączone są linki z nagraniami konkretnych ćwiczeń.
			Dla osob poczatkujacych i srednio zaawansowanych rozpisane ćwiczenia i opcje skalujące, a także progresje pomagające w osiągnięciu nowych umiejętności.
			
			<br/>
        </div>
		<div class="dontArgueChalange-challange-title">
			<br/>
			<b>Treningi są wysyłane na skrzynkę mailową, każdej niedzieli do godziny 18:00.

			<br/><br/>
			
			<a href="/assets/OfertaSponsorska2020PeterSzczycinski.pdf" download>Pobierz dzień próbny</a></b>
		 </div>
    </div>
    <div class="col-md-4 px-0">
      <img src="assets/images/peter_2.png" />
    </div>
  </div>
</div>
